/*================================================================================
	Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
	Version: 2.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
.petzola .demo-inline-spacing > *{
	margin-top: 0.5rem;
}
.petzola .custom-switch .custom-control-label::before{
	background-color: #b2aeae;
}
.shift-rows-off{
	background: #d6d3d3b0;
    border-radius: 8px;
    padding: 5px 10px;
}
.shift-rows-on{
	background: #d6d3d3b0;
    border-radius: 8px 8px 0px 0px;
    padding: 5px 10px;
}
.day-title{
	font-size: 12px;
	line-height: 25.5px;
}
.modal .petzola .modal-header .close{
	transform: translate(0px, 0px);
}
.button-link{
	color:#00adef;
	cursor: pointer;
}
.form-group .is-invalid .css-yk16xz-control{
	border-color: #ea5455;
}
